
  
<div class="resertour">
<h1 style="color: black; text-align: center;">Tours Disponibles</h1>
<ul class="tour-list">
  <li *ngFor="let tour of tours" class="tour-item">
    <app-tourlist [tour]="tour" (reserve)="onReserve($event)"></app-tourlist>
  </li>
</ul>

<form (ngSubmit)="registerTour(ReservaForm.value)" #ReservaForm="ngForm" class="datetime-container">
    <label for="date" class="date-label">Fecha:  </label>
    <input type="date" id="date" name="date" ngModel class="date-input">
    <br>
    <label for="time" class="time-label">Hora:  </label>
    <input type="time" id="time" name="time" ngModel class="time-input">
    <br>
    <button mat-raised-button color="accent" type="button"  type="submit" class="reserve-button">Reservar</button>
  </form>

  <div *ngIf="alertMessage" class="alert" [ngClass]="'alert-' + alertType" role="alert">
    {{ alertMessage }}
  </div>
</div>

 
