<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
</head>
<body>
    <h2>PREGUNTAS FRECUENTES</h2>
    <br>
    <br>
    <h1>¿Cuales tours estan disponibles para hacer reservciones?></h1>
    <p>Por el momento contamos con los tours a Seul Corea, Machu Picchu Peru y el de ></p>
    <p>Petra Jordania los cuales puedes observar en la opcion de Reservar de nuestro menu.</p>
    <br>
    <br>
    <h1>¿Cual es el tour mas economico que tienen?</h1>
    <p>En este momento contamos con el Tour a Petra Jordania con un costo de $3500</p>
    <br>
    <br>
    <h1>¿Cual es su correo electronico de contacto?</h1>
    <p>Nos puedes encontrar en gmail como escape@gmail.com o de igual forma por telefonoo</p>
    <p>al numero (123) 456-7890</p>
    <br>
    <br>
</body>
</html>