
    <div class="container my-5" class="preguntasfr">
      <h2 class="text-center mb-4" style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">PREGUNTAS FRECUENTES</h2>
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title my-card-title">¿Cuales tours estan disponibles para hacer reservciones?</h5>
              <p class="card-text my-card-text">
                Por el momento contamos con los tours a Seul Corea, Machu Picchu Peru y el de Petra Jordania los cuales puedes observar en la opcion de Reservar de nuestro menu.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title my-card-title">¿Cual es el tour mas economico que tienen?</h5>
              <p class="card-text my-card-text">
                En este momento contamos con el Tour a Petra Jordania con un costo de $3500
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title my-card-title">¿Cual es su correo electronico de contacto?</h5>
              <p class="card-text my-card-text">
                Nos puedes encontrar en gmail como escape@gmail.com o de igual forma por telefono al numero (123) 456-7890
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title my-card-title">¿Cuánto tiempo dura cada tour?</h5>
              <p class="card-text my-card-text">
                Cada tour tiene una duración diferente. Por favor consulta la descripción de cada tour para obtener más información sobre su duración.
              </p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title my-card-title">¿Qué está incluido en el precio del tour?</h5>
              <p class="card-text my-card-text">
                El precio del tour generalmente incluye transporte, alojamiento, comidas y actividades según lo especificado en la descripción del tour. Sin embargo, esto puede variar según el tour y la empresa que lo ofrece. Por favor consulta la descripción del tour para obtener más información sobre lo que está incluido en el precio.
              </p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title my-card-title">¿Hay algún requisito para participar en los tours?</h5>
              <p class="card-text my-card-text">
                Los requisitos para participar en los tours pueden variar según el tour y la empresa que lo ofrece. Algunos tours pueden tener requisitos de edad mínima, estado físico o documentación necesaria. Por favor consulta la descripción del tour o contacta a la empresa para obtener más información sobre los requisitos para participar en el tour.              </p>
            </div>
          </div>
        </div>



      </div>
    </div>
 