<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
</head>
<body>
    <h2>PREGUNTAS FRECUENTES</h2>
    <br>
    <br>
    <h1><center>¿Cuales tours estan disponibles para hacer reservciones?</center></h1>
    <p><center>Por el momento contamos con los tours a Seul Corea, Machu Picchu Peru y el de </center></p>
    <p><center>Petra Jordania los cuales puedes observar en la opcion de Reservar de nuestro menu.</center></p>
    <br>
    <br>
    <h1><center>¿Cual es el tour mas economico que tienen?</center></h1>
    <p><center>En este momento contamos con el Tour a Petra Jordania con un costo de $3500</center></p>
    <br>
    <br>
    <h1><center>¿Cual es su correo electronico de contacto?</center></h1>
    <p><center>Nos puedes encontrar en gmail como escape@gmail.com o de igual forma por telefonoo</center></p>
    <p><center>al numero (123) 456-7890</center></p>
    <br>
    <br>
</body>
</html>