<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home"><img src="assets/images/logo.png" alt="" width="80px" height="70px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/destinos" style="color: rgb(255, 255, 255); font-family:'Times New Roman', Times, serif" >Destinos</a>
          </li>
       
         <li class="nav-item">
            <a class="nav-link" routerLink="/search" style="color: rgb(255, 255, 255); font-family:'Times New Roman', Times, serif">Buscar Aeropuerto</a>
          </li>
      
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/feedback" style="color: rgb(255, 255, 255); font-family:'Times New Roman', Times, serif">Feedback</a>
          </li> -->
         
          <li class="nav-item">
            <a class="nav-link" routerLink="/reserva" style="color: rgb(255, 255, 255); font-family:'Times New Roman', Times, serif">Reservar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/tablareservas" style="color: rgb(255, 255, 255); font-family:'Times New Roman', Times, serif">Reservaciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/nosotros" style="color: rgb(255, 255, 255); font-family:'Times New Roman', Times, serif">Acerca de Nosotros</a>
          </li>                    
          <li class="nav-item">
            <a class="nav-link" routerLink="/contactform" style="color: #ffffff; font-family:'Times New Roman', Times, serif">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/preguntas-f" style="color: rgb(255, 255, 255); font-family:'Times New Roman', Times, serif">Preguntas Frecuentes </a>
          </li>
          <li class="nav-item" *ngIf="this.isUserLogged() === 'true'">
            <a class="nav-link" routerLink="/graficas" style="color: rgb(255, 255, 255); font-family:'Times New Roman', Times, serif">Grafica</a>
          </li>
          <li class="nav-item" *ngIf="this.isUserLogged() === 'no'">
            <a class="btn btn-primary btn-customized align-items-center" routerLink="/login" style="background-color: rgb(231, 51, 171); color: rgb(255, 255, 255); font-family:'Times New Roman', Times, serif">Iniciar sesión</a>
          </li>
          <li class="nav-item" *ngIf="this.isUserLogged() === 'no'">
            <a class="btn btn-primary btn-customized align-items-center" routerLink="/signup" style="background-color: rgb(125, 228, 231);color: rgb(255, 255, 255); font-family:'Times New Roman', Times, serif">Registrarse</a>
          </li>
          <li class="nav-item" *ngIf="this.isUserLogged() === 'true'" style="text-align: center;">
            <button class="btn btn-primary btn-customized align-items-center" (click)="auth.logout()" style="background-color: rgb(255, 65, 65); color: white">
              Cerrar sesión
            </button>
          </li>
        
        </ul>
        
        
        
        <form class="d-flex" (submit)="buscar()">
          <input id="buscar" class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar" [(ngModel)]="searchTerm">
          <button class="btn btn-outline-success" type="submit" style="border-color: azure;">Buscar</button>
        </form> 

        
      </div>
    </div>
  </nav>
