@supports (grid-template-rows: masonry) {
    /* masonry code here */
  }

body {
    background-color: #000;
    font: 1.1em Arial, Helvetica, sans-serif;
  }
  
  @media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 4;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 5;
    }
}

.card-columns {
    /* column-break-inside: avoid; */
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
}

.title {
    text-align: center;
}

.galeria {
    background-color: rgb(211, 224, 240);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.lugar-text {
    text-align: right;
    font-size: 15px;
    margin-top: auto;
  }
