<div class="container">
    <figure>
      <img src="assets/images/mexico.jpg" />
      <figcaption><a href="#">MÉXICO</a></figcaption>
    </figure>
    <figure class="landscape">
      <img src="assets/images/eua.jpg" alt="The Clifton Suspension Bridge" />
      <figcaption><a href="#">ESTADOS UNIDOS</a></figcaption>
    </figure>
    <figure>
      <img src="assets/images/argentina.jpg" alt="Sunset and boats" />
      <figcaption><a href="#">ARGENTINA</a></figcaption>
    </figure>
    <figure>
      <img src="assets/images/AUSTRALIA.jpg" alt="a river in the snow" />
      <figcaption><a href="#">AUSTRALIA</a></figcaption>
    </figure>
    <figure class="landscape">
      <img src="assets/images/CAMBOYA.jpg" alt="a single checked balloon" />
      <figcaption><a href="#">CAMBOYA</a></figcaption>
    </figure>
    <figure>
      <img src="assets/images/MALASIA.jpg" alt="a hot air balloon shaped like a dog" />
      <figcaption><a href="#">MALASIA</a></figcaption>
    </figure>
    <figure>
      <img src="assets/images/GRECIA.jpg" alt="View from a hot air balloon of other balloons" />
      <figcaption><a href="#">GRECIA</a></figcaption>
    </figure>
    <figure>
      <img src="assets/images/PERU.jpg" alt="a balloon fairground ride" />
      <figcaption><a href="#">PERÚ</a></figcaption>
    </figure>
    <figure class="landscape">
      <img src="assets/images/COSTA RICA.jpg" alt="sunrise over a harbor" />
      <figcaption><a href="#">COSTA RICA</a></figcaption>
    </figure>
    <figure>
      <img src="assets/images/ISLANDIA.jpg" alt="three hot air balloons in a blue sky" />
      <figcaption><a href="#">ISLANDIA</a></figcaption>
    </figure>
    <figure>
    <img src="assets/images/COLOMBIA.jpg" alt="the Toronto light up sign at night" />
      <figcaption><a href="#">COLOMBIA</a></figcaption>
    </figure>
    
  </div>
