<body>
  


<div class="galeria">
  <div class="title">
    <br>
    <br>
    <h1>GALERÍA DE FOTOS</h1>
    <h5>¡Esto es lo que se vive en nuestros viajes!</h5>
    <br><br>
  </div>
  <div class="card-columns">
    <div class="card">
      <img src="assets/images/img1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Conoce nuevos lugares</h5>
      </div>
    </div>
  
    <div class="card">
      <img src="assets/images/img12.jpg" class="card-img-top" alt="...">
      </div>
  
    <div class="card">
        <img src="assets/images/img2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Reserva en nuestro sitio</h5>
        </div>
      </div>
  
      <div class="card">
        <img src="/assets/images/img16.jpg" class="card-img-top" alt="...">
        </div>
  
    <div class="card">
    <img src="assets/images/img3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Asiste a los mejores eventos</h5>
    </div>
    </div>
  
    <div class="card">
        <img src="assets/images/img4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Comparte con tus seres queridos</h5>
        </div>
      </div>
  
      <div class="card">
        <img src="assets/images/img13.jpg" class="card-img-top" alt="...">
        </div>
  
      <div class="card">
      <img src="assets/images/img11.jpg" class="card-img-top" alt="...">
      </div>
  
      <div class="card">
        <img src="assets/images/img6.jpg" class="card-img-top" alt="...">
        </div>
  
    <div class="card">
    <img src="assets/images/img5.jpg" class="card-img-top" alt="...">
    </div>
  
        <div class="card">
          <img src="assets/images/img8.jpg" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">Vive las mejores experiencias</h5>
          </div>
          </div>
  
    <div class="card">
        <img src="assets/images/img7.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Conecta con la naturaleza</h5>
        </div>
      </div>
  
      <div class="card">
        <img src="assets/images/img15.jpg" class="card-img-top" alt="...">
        </div>
  
     <div class="card">
    <img src="assets/images/img10.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Encuentra tus vuelos aquí</h5>
    </div>
    </div>
  
    <div class="card">
      <img src="assets/images/img14.jpg" class="card-img-top" alt="...">
      </div>
  
      <div class="card">
        <img src="assets/images/img9.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Haz realidad tu viaje soñado</h5>
        </div>
      </div>
  </div>
  </div>
</body>