<div *ngIf="reservations.length > 0" class="reservations-container">
    <h1 style="color: black; text-align: center;">...RESERVACIONES...</h1>
    <table class="table table-striped reservations-table">
        <thead>
            <tr>
              <th scope="col">DIA</th>
              <th scope="col">FECHA</th>
              <th scope="col">NOMBRE DEL TOUR</th>
              <th scope="col">PRECIO DEL TOUR</th>
            </tr>
          </thead>
          <tr *ngFor="let reservation of reservations; let i = index">
            <td>{{ reservation.date }}</td>
            <td>{{ reservation.time }}</td>
            <td>{{ reservedTours[i].name }}</td>
            <td>$ {{ reservedTours[i].price }}</td>
          </tr>
          
    </table>

  
  <div *ngIf="reservations.length === 0">
    <p>No hay reservaciones hechas.</p>
  </div>
</div>