
	<header>
		<h1>Mi blog</h1>
	</header>
	<main>
		<article>
			<header>
				<h2>Betsy Jocelyn Ortega López</h2>
				<p class="fecha">Publicado el 13 de mayo de 2023</p>
			</header>
			<img src="assets/images/BETSY.jpg" alt="Descripción de la imagen" width="500px">
			<p>Yo soy estudiante de la UAA (Universidad Autonoma de Aguascalientes)</p>
		</article>
		<article>
			<header>
				<h2>Ana Laura Jiméneez Díaz</h2>
				<p class="fecha">Publicado el 14 de mayo de 2023</p>
			</header>
			<img src="assets/images/ANA.jpg" alt="Descripción de la imagen" width="500px">
			<p>Yo soy Ana Laura Jiménez, estudiante de la UAA</p>
		</article>

		<BR clear="right">


		<article>
			<header>
				<h2>Mitzy TierraBlanca Ramirez</h2>
				<p class="fecha">Publicado el 14 de mayo de 2023</p>
			</header>
			<img src="assets/images/MITZI.jpg" alt="Descripción de la imagen" width="500px">
			<p>Yo soy Mitzy, estudiante de la UAA</p>
		</article>

		<article>
			<header>
				<h2>Fátima Natalia Martínez Esparza</h2>
				<p class="fecha">Publicado el 14 de mayo de 2023</p>
			</header>
			<img src="assets/images/Natalia.jpeg" alt="Descripción de la imagen" width="500px">
			<p>Yo soy Fátima Natalia Martínez, estudiante de la UAA</p>
		</article>

		<article>
			<header>
				<h2>Erick Brandon Ortiz Rosales</h2>
				<p class="fecha">Publicado el 14 de mayo de 2023</p>
			</header>
			<img src="assets/images/Erick.jpeg" alt="Descripción de la imagen" width="500px">
			<p>Yo soy Erick Brandon Ortiz, estudiante de la UAA</p>
		</article>
	</main>


