.cont {
   
}
.contenedor{
    text-align: center;
    margin-top: 35px;
    
}
input {
    
    margin:auto;
    width: 600px;
    margin-bottom: 10px;
}
.pipe1  {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
    color: rgb(14, 50, 82);
    font-weight: bolder;
    margin-bottom: 20px;
}
.error {
    font-size: 14px;
    color: red;
    font-weight: bold;
}
label {
    font-family: Verdana, Geneva, Tahoma, sans-serif1;
    font-weight: bold;
    color: rgb(14, 50, 82);
}
